body,
html {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    justify-content: space-between;
    color: white;
    font-family: Syne Mono;/* "Ubuntu"; */
}

.page {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 5vw;
    transition: all 0.2s;
    flex-grow: 1;
    flex-basis: 3vw;
    background-position: center top;
}

.expanded {
    flex-grow: 100;
}

#education {
    background-color: #02163B;
    background-image: url("static/itu_giris.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
}

#experience {
    background-color: #092F74;
    background-image: url("static/suits.png");
    background-blend-mode: soft-light;
    background-size: cover;
}

#achievements {
    background-color: #1046A9;
    background-image: url("static/rover.jpeg");
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
}

#projects {
    background-color: #496EB3;
    background-image: url("static/ski.JPG");
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
}

#contact {
    background-color: #B1C2E0;
    justify-content: center;
    /* flex-basis: 30em; */
    background-image: url("static/stage.JPG");
    background-blend-mode: soft-light;
    background-size: cover;
}

#picture {
    margin: 3vw;
    width: max(15vw, 15vh);
    height: max(15vw, 15vh);
    border-radius: 50%;
    background-image: url("static/Caner.jpeg");
    background-size: 100%;
}

.page-title {
    color: #B1C2E0;
    text-transform: uppercase;
    font-weight: bolder;
    writing-mode: vertical-lr;
    font-size: 1.5em;
    margin: 1vw 1vw;
}

.page-content {
    margin: 1vw 1vw;
    overflow: hidden;
    display: none;
    /* overflow: visible; */
    /* position: absolute; */
}
